@font-face {
  font-family: 'Druk Wide Bold';
  src: url('/font/druk/Druk-Wide-Bold-Web.eot');
  src: url('/font/druk/Druk-Wide-Bold-Web.eot#iefix') format('embedded-opentype'),
  url('/font/druk/Druk-Wide-Bold-Web.woff2') format('woff2'),
  url('/font/druk/Druk-Wide-Bold-Web.woff') format('woff'),
  url('/font/druk/Druk-Wide-Bold-Web.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
