@import "mixin";
@import "media_mixin";

$color-green: #D2FF57;
$color-pink: #F000FE;
$color-white: #FFFFFF;
$color-black: #161A25;


html {
  body {
    background: $color-black;
    color: $color-black;
    overflow-x: hidden;
  }

  h1 {
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    @include _767 {
      font-size: 3em;
    }
  }

  h2 {
    font-weight: bold;
    font-size: 60px;
    line-height: 150%;
  }
  h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    color: $color-black;
  }

  .text {
    &-black {
      color: $color-black;
    }

    &-white {
      color: $color-white;
    }

    &-pink {
      color: $color-pink;
    }

    &-green {
      color: $color-green;
    }
  }

  .bg {
    &-green {
      background: $color-green;
    }

    &-black {
      background: $color-black;
    }
  }

  .font {
    &-w-500 {
      font-weight: 500;
    }

    &-w-700 {
      font-weight: 700;
    }

    &-w-900 {
      font-weight: 900;
    }
  }
}