@import "mixin";
@import "media_mixin";
@import "gilroy_font";
@import "druk_font";

$color-green: #D2FF57;
$color-pink: #F000FE;
$color-white: #FFFFFF;
$color-black: #161A25;
$color-blue: #010BFF;


html {
  overflow-x: hidden;

  @include _1170 {
    height: 100%;
    @include _600 {
      height: auto;
    }

    body {
      height: 100%;

      #app {
        height: 100%;

        .page {
          height: 100%;
        }
      }
    }
  }

  &::-webkit-scrollbar {
    width: 0 !important;
  }

  & > * {
    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }

  .h {
    &-vh-100 {
      height: 100vh;
      @include _1170 {
        height: 100%;
      }
    }
  }

  .w {
    &-vw-100 {
      width: 100vw;
    }
  }

  .container-fluid {
    padding: 0;
  }

  body {
    font-family: 'Gilroy', sans-serif;
    background: $color-black;
    color: $color-black;
    overflow-x: hidden;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    .btn,
    button {
      outline: none;

      &:focus,
      &:hover {
        outline: none;
        box-shadow: none;
      }
    }
  }

  h1 {
    font-family: 'Druk Wide Bold', sans-serif;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    @include _991 {
      font-size: 3em;
    }
  }

  h2 {
    font-family: 'Druk Wide Bold', sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 150%;
    @include _991 {
      font-size: 1.5em;
    }
  }

  h4 {
    font-family: 'Druk Wide Bold', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    color: $color-black;
  }

  .text {
    &-gilroy {
      font-family: 'Gilroy', sans-serif;
    }

    &-black {
      color: $color-black;
    }

    &-white {
      color: $color-white;
    }

    &-pink {
      color: $color-pink;

      &-liner {
        background: linear-gradient(90deg, #F000FE 0%, #FC70FF 95.92%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &-green {
      color: $color-green;

      &-liner {
        background: linear-gradient(90deg, #90FE00 0%, #DAFE00 95.92%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &-blue {
      color: $color-blue;

      &-liner {
        background: linear-gradient(90deg, #0176FF 0%, #01B3FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &-sm-10 {
      font-size: 10px;
      line-height: 180%;
    }

    &-lg-18 {
      font-size: 18px;
      line-height: 150%;
      @include _991 {
        font-size: 16px;
      }
    }

    &_lg-20 {
      font-size: 20px;
      line-height: 150%;
      @include _991 {
        font-size: 18px;
      }
    }

    &-lg-24 {
      font-size: 24px;
      line-height: 180%;
      @include _991 {
        font-size: 20px;
      }
    }

    &-lt-02 {
      letter-spacing: 0.2em;
    }
  }

  .bg {
    &-green {
      background: $color-green;
    }

    &-black {
      background: $color-black;
    }
  }

  .font {
    &-w-500 {
      font-weight: 500;
    }

    &-w-600 {
      font-weight: 500;
    }

    &-w-700 {
      font-weight: 700;
    }

    &-w-900 {
      font-weight: 900;
    }
  }

  .circle {
    display: flex;
    border-radius: 50%;
    transition: all .2s ease-in-out;

    &-white {
      background: #FFFFFF;
    }

    &-green {
      background: $color-green;
    }

    &-black {
      background: $color-black;
    }

    &-transparent {
      background: transparent;
    }

    &-green-br {
      border: 1px solid $color-green;
    }

    &-white-br {
      border: 1px solid rgba(255, 255, 255, 0.2);
    }

    &-gray-br {
      border: 1px solid rgba(22, 26, 37, 0.2);
    }

    &-90 {
      width: 90px;
      height: 90px;
      @include _991 {
        width: 70px;
        height: 70px;
      }
    }

    &-80 {
      width: 80px;
      height: 80px;
      @include _991 {
        width: 60px;
        height: 60px;
      }
    }

    &-60 {
      width: 60px;
      height: 60px;
      @include _991 {
        width: 40px;
        height: 40px;
      }
    }
  }

  .ico {
    &-map {
      width: 28px;
      height: 40px;
      background: url("/img/icon/map.svg") no-repeat center;
      background-size: contain;
    }

    &-phone {
      width: 32px;
      height: 32px;
      background: url("/img/icon/phone.svg") no-repeat center;
      background-size: contain;
    }
  }

  .underline {
    position: relative;

    &-pink {

      &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background: linear-gradient(270deg, #FB71FF 0%, #F000FE 100%);
        transition: all .3s ease-in-out;
      }

      &:hover {
        &:after {
          width: 100%;
        }
      }
    }

    &-green {

      &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background: linear-gradient(90deg, #90FE00 0%, #DAFE00 95.92%);
        transition: all .3s ease-in-out;
      }

      &:hover {
        &:after {
          width: 100%;
        }
      }
    }

    &-blue {

      &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background: linear-gradient(90deg, #0176FF 0%, #01B3FF 100%);
        transition: all .3s ease-in-out;
      }

      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }


  .separator {
    display: flex;
    flex-wrap: wrap;

    .text {
      margin: auto 0 auto 50px;
      @include _1170 {
        margin: auto 0 auto 90px;
      }
    }

    .separator-line {
      height: 2px;
      width: 200px;
      margin: auto 0 auto 120px;
      @include _767 {
        margin: auto 0 auto 90px;
      }
    }

    &-pink {
      .separator-line {
        background: linear-gradient(270deg, #FB71FF 0%, #F000FE 100%);
      }
    }

    &-green {
      .separator-line {
        background: linear-gradient(270deg, #DAFE01 0%, #91FE01 100%);
      }
    }

    &-blue {
      .separator-line {
        background: linear-gradient(90deg, #0176FF 0%, #01B3FF 94.1%);
      }
    }
  }

  .schedule {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &-item {
      display: flex;
      position: relative;

      .text {
        margin: 15px 0 auto -50px;
      }

      .nubmer {
        font-family: 'Druk Wide Bold', sans-serif;
        font-weight: bold;
        font-size: 80px;
        line-height: normal;
        letter-spacing: 0.4em;
        background: -webkit-linear-gradient(-50deg, #ffffff 0, rgba(22, 26, 37, 0) 100%, rgba(22, 26, 37, 0.7) 0);
        -webkit-background-clip: text;
        -webkit-text-stroke: 4px transparent;
        color: $color-black;
        opacity: 0.3;
        margin: 0;
        @include _991 {
          font-size: 46px;
        }
      }
    }
  }

  .arrow-after {
    position: relative;
    padding: 0 22px 0 0;

    &-pink {
      &:after {
        content: '';
        width: 12px;
        height: 12px;
        background: url("/img/icon/link-arrow-p.svg") no-repeat center;
        background-size: auto;
        position: absolute;
        top: 6px;
        right: 0;
        @include _600 {
          top: 0;
        }
      }
    }

    &-green {
      &:after {
        content: '';
        width: 12px;
        height: 12px;
        background: url("/img/icon/link-arrow-g.svg") no-repeat center;
        background-size: auto;
        position: absolute;
        top: 6px;
        right: 0;
        @include _600 {
          top: 0;
        }
      }
    }

    &-blue {
      &:after {
        content: '';
        width: 12px;
        height: 12px;
        background: url("/img/icon/link-arrow-b.svg") no-repeat center;
        background-size: auto;
        position: absolute;
        top: 6px;
        right: 0;
        @include _600 {
          top: 0;
        }
      }
    }
  }

  .left-menu {
    height: 100%;
    max-width: 60px;
    width: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50px;
    bottom: 70px;
    z-index: 1000;
    @include _1170 {
      left: 15px;
    }

    .menu-item {
      margin: 0 auto 30px auto;
      @include _1024 {
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }

    .sharing {
      margin: auto auto 0 auto;
      cursor: pointer;

      &.active {
        .circle {
          background: $color-white;

          svg {
            filter: invert(100%);
          }
        }
      }
    }
  }

  .swiper {
    &-pagination {
      &-bullet {
        width: 6px;
        height: 6px;
        background: #FFFFFF;
        opacity: 0.2;
        margin: 0 24px 0 0;
        transition: all .3s ease-in-out;

        &:hover {
          opacity: 0.5;
        }

        &-active {
          opacity: 1;
        }
      }
    }
  }



  .footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 155px 118px 0 50px;
    padding: 43px 0 53px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    .navbar-brand {
      z-index: 1;
    }

    @include _1170 {
      margin: 155px 15px 0 15px;
      @include _991 {
        flex-direction: column;
        @include _600 {
          .footer-logo {
            order: 1;
          }
          .to-up {
            order: 2;
          }
          .footer-copyright {
            order: 3;
            width: 100%;
            text-align: right;
            margin: 0 0 10px 0;
          }
        }
      }
    }

    &-column {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: auto 0;
      justify-content: space-between;

      .slide-contact {
        max-width: 100%;
        margin: 0 0 0 auto;
        @include _1170 {
          flex-direction: column;
          .link-phone {
            margin: 10px 0 0 0;

            &:before {
              content: none;
            }
          }
          @include _991 {
            width: 100%;
          }
        }

        .link {
          &:first-child {
            margin: auto 50px auto 0;
          }

          @include _991 {
            margin: 0 0 0 auto;
            width: auto;
            &:first-child {
              margin: 0 0 10px auto;
              width: auto;
            }
          }
        }
      }

      @include _1170 {
        &:first-child {
          width: 70%;
        }
        &:last-child {
          width: 30%;
        }
        @include _991 {
          &:first-child {
            width: 100%;
          }
          &:last-child {
            width: 100%;
          }
        }
      }
    }

    .to-up {
      cursor: pointer;

      .circle {
        transform: rotate(270deg);
      }
    }

    .navbar {
      padding: 0;
    }
  }

  .portfolio-modal {
    &.show {
      display: flex !important;
    }

    .modal-dialog {
      max-width: 100%;
      height: 100vh;
      margin: auto 0;
      @include _991 {
        height: auto;
      }

      .modal-content {
        height: 100%;
        border: none;
        border-radius: 0;
        background: $color-black;

        .modal-body {
          padding: 90px 120px 86px 0;
          @include _991 {
            padding: 30px 20px 30px 0;
          }

          .swiper {
            &-container {
              height: 100%;
              padding: 0 0 0 190px;
              margin: 0;
              @include _1170 {
                height: auto;
                @include _600 {
                  padding: 90px 0 90px 20px;
                }
              }
            }

            &-slide {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              opacity: 0;
              transition: all .3s ease-in-out;

              &-active {
                opacity: 1;
              }

              .column {
                &:first-child {
                  width: 50%;
                  margin: 0 30px 0 auto;
                  @include _1170 {
                    width: 100%;
                    margin: 0;
                    height: auto;
                  }

                  img {
                    width: 100%;
                    height: 100%;
                    @include _1170 {
                      height: auto;
                    }
                  }
                }

                &:last-child {
                  margin: 0 auto 0 0;
                  width: 30%;
                  padding: 33px 0 0 0;
                  border-top: 3px solid $color-green;
                  @include _1170 {
                    width: 100%;
                    margin: 20px 0 0 0;
                    padding: 20px 0 0 0;
                  }

                  .title {
                    font-family: 'Druk Wide Bold', sans-serif;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 150%;
                    margin: 0 0 20px 0;
                  }
                }
              }
            }

            &-pagination {
              color: rgba(255, 255, 255, 0.3);
              top: auto;
              bottom: 0;
              left: 60px;
              @include _600 {
                left: 20px;
              }

              &-current {
                color: $color-white;
              }

              &-total {
                color: rgba(255, 255, 255, 0.3);
              }
            }

            &-button-next {
              @include arrow_green;

              left: 50px;
              right: auto;
              top: 35%;
              @include _767 {
                top: 35%;
                @include _600 {
                  top: auto;
                  left: auto;
                  right: 0;
                  bottom: 0;
                }
              }
            }

            &-button-prev {
              @include arrow_green;
              transform: rotate(180deg);

              top: 53%;
              left: 50px;
              right: auto;
              @include _767 {
                top: 53%;
                @include _600 {
                  top: auto;
                  left: auto;
                  right: 75px;
                  bottom: 0;
                }
              }
            }
          }

          .btn-modal {
            padding: 0;
            position: absolute;
            left: 50px;
            z-index: 10;
            @include _600 {
              left: 20px;
            }
          }
        }
      }
    }
  }

  .feedback-modal {
    .modal-dialog {
      margin: 0 0 0 auto;
      max-width: 400px;
      height: 100vh;
      background: $color-black;
      @include _991 {
        height: auto;
        @include _480 {
          max-width: 100%;
        }
      }

      .modal-content {
        height: 100%;
        border: none;
        border-radius: 0;
        background: url("/img/feedback-bg.png") no-repeat right 0 bottom 0;
        background-size: auto;

        .modal-body {
          padding: 50px 50px 30px 50px;
          @include _480 {
            padding: 50px 15px 30px 15px;
          }

          .btn-modal {
            padding: 0;
            margin: 0 0 35px 0;
          }
        }
      }
    }
  }

  .menu-modal {
    .modal-dialog {
      margin: 0 auto 0 0;
      max-width: 400px;
      height: 100vh;
      @include _991 {
        height: 100%;
        @include _480 {
          max-width: 100%;
        }
      }

      .modal-content {
        height: 100%;
        border: none;
        border-radius: 0;
        background: linear-gradient(194.04deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), #141925;

        .left-menu {
          top: 23%;
          right: 60px;
          bottom: 0;
          @include _1170 {
            top: 155px;
          }

          .menu-item {
            display: flex;
            cursor: pointer;


            svg {
              margin: auto 20px auto 0;
            }


            span {
              font-family: Gilroy, sans-serif;
              font-style: normal;
              font-weight: 900;
              font-size: 10px;
              line-height: 180%;
              letter-spacing: 0.2em;
              text-transform: uppercase;

              color: $color-white;
              margin: auto 0;

              opacity: 0.3;
            }
          }
        }
      }
    }
  }

  .modal-open {
    * > {
      overflow: hidden !important;
    }

    .menu-modal {
      overflow-y: hidden;
    }
  }

  form {
    .form-group {
      margin: 0 0 35px 0;


      .form-control {
        font-weight: bold;
        font-size: 18px;
        line-height: normal;
        letter-spacing: 0.05em;
        color: $color-white;

        padding: 0;
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 0;
        background: transparent;

        outline: none;

        &:focus {
          outline: none;
          box-shadow: none;
          border-bottom: 1px solid rgba(255, 255, 255, 1);
        }

        @include _480 {
          font-size: 14px;
        }
      }

      textarea {
        &.form-control {
          padding: 20px;
          border-left: 1px solid rgba(255, 255, 255, 0.3);
          border-top: 1px solid rgba(255, 255, 255, 0.3);
          border-right: 1px solid rgba(255, 255, 255, 0.3);
        }
      }

      .multiselect {
        position: relative;
        cursor: pointer;

        &:before {
          content: '';
          width: 14px;
          height: 16px;
          background: url("/img/icon/pointer-w.svg") no-repeat top right 0;
          background-size: contain;
          position: absolute;
          top: 5px;
          right: 0;
          transition: all .3s ease-in-out;
        }

        &:focus {
          border-bottom: none;
        }

        &--active {
          border-bottom: none;

          &:before {
            transform: rotate(180deg);
          }
        }

        &__placeholder {
          color: rgba(255, 255, 255, 0.4);
        }

        &__content {
          list-style: none;
          padding: 0;
        }

        &__element {
          line-height: 44px;
        }

        &__content-wrapper {
          margin: 22px 0 0 0;
          position: relative;
          z-index: 10;
          background: $color-black;
          border-bottom: 1px solid $color-white;
        }
      }

      .custom {
        &-file {
          height: auto !important;
          width: auto !important;
          cursor: pointer;

          &-input {
            height: auto !important;
            width: auto !important;
            font-size: 10px;
          }

          &-label {
            height: auto !important;
            width: auto !important;
            font-family: Gilroy, sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 10px;
            line-height: 180%;
            letter-spacing: 0.2em;
            text-decoration-line: underline;
            text-transform: uppercase;

            color: $color-white;
            padding: 0 0 0 23px;
            margin: 0;
            border: none;
            border-radius: 0;
            background: transparent;

            white-space: nowrap;
            overflow: hidden;

            &:before {
              content: '';
              width: 15px;
              height: 15px;
              background: url("/img/icon/input-file.svg") no-repeat center;
              background-size: contain;
              position: absolute;
              top: 3px;
              left: 0;
            }

            &:after {
              content: none !important;
            }
          }
        }

        &.active {
          .custom-file-label {

            &:before {
              background: url("/img/icon/input-file-value.svg") no-repeat center;
            }
          }
        }
      }
    }

    .error {
      font-family: Gilroy, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0.05em;
      color: #FF6969;

      position: absolute;
      opacity: 0;

      transition: all .3s ease-in-out;
    }

    &--error {
      .form-control {
        border-bottom: 1px solid rgba(255, 105, 105, 0.3);

        &::placeholder {
          color: #FF6969;
        }

        &:focus {
          border-bottom: 1px solid rgba(255, 105, 105, 0.3);
        }

      }

      .error {
        opacity: 1;
      }
    }
  }

  .bg-pic {
    position: absolute;

    &-wrap {
      position: absolute;
      width: 100%;
      height: 120vh;
      top: 0;
      left: 0;
      z-index: 5;

      background: linear-gradient(180deg, rgba(22, 26, 37, 0) 0%, #161A25 100%);

      &:before {
        content: '';
        width: 100vw;
        height: 65vh;
        background: linear-gradient(180deg, #161A25 0%, rgba(22, 26, 37, 0) 100%);
        position: absolute;
        right: 0;
        top: 0;
        z-index: 5;
      }

      &:after {
        content: '';
        width: 100vw;
        height: 250px;
        background: linear-gradient(180deg, rgba(22, 26, 37, 0) 0%, #161A25 100%);
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 5;
      }
    }
  }
}
