html::-webkit-scrollbar {
  width: 0;
}
html .h-vh-100 {
  height: 100vh;
}
html .w-vw-100 {
  width: 100vw;
}
html .container-fluid {
  padding: 0;
}
html body {
  background: #161A25;
  color: #161A25;
  overflow-x: hidden;
}
html body a {
  text-decoration: none;
}
html body a:hover {
  text-decoration: none;
}
html body .btn,
html body button {
  outline: none;
}
html body .btn:focus, html body .btn:hover,
html body button:focus,
html body button:hover {
  outline: none;
  box-shadow: none;
}
html h1 {
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
}
@media (max-width: 767px) {
  html h1 {
    font-size: 3em;
  }
}
html h2 {
  font-weight: bold;
  font-size: 60px;
  line-height: 150%;
}
html h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
  color: #161A25;
}
html .text-gilroy {
  font-family: "Gilroy", sans-serif;
}
html .text-black {
  color: #161A25;
}
html .text-white {
  color: #FFFFFF;
}
html .text-pink {
  color: #F000FE;
}
html .text-pink-liner {
  background: linear-gradient(90deg, #F000FE 0%, #FC70FF 95.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
html .text-green {
  color: #D2FF57;
}
html .text-green-liner {
  background: linear-gradient(90deg, #90FE00 0%, #DAFE00 95.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
html .text-sm-10 {
  font-size: 10px;
  line-height: 180%;
}
html .text-lg-18 {
  font-size: 18px;
  line-height: 150%;
}
html .text_lg-20 {
  font-size: 20px;
  line-height: 150%;
}
html .text-lg-24 {
  font-size: 24px;
  line-height: 180%;
}
html .text-lt-02 {
  letter-spacing: 0.2em;
}
html .bg-green {
  background: #D2FF57;
}
html .bg-black {
  background: #161A25;
}
html .font-w-500 {
  font-weight: 500;
}
html .font-w-600 {
  font-weight: 500;
}
html .font-w-700 {
  font-weight: 700;
}
html .font-w-900 {
  font-weight: 900;
}
html .circle {
  display: flex;
  border-radius: 50%;
}
html .circle-white {
  background: #FFFFFF;
}
html .circle-green {
  background: #D2FF57;
}
html .circle-black {
  background: #161A25;
}
html .circle-transparent {
  background: transparent;
}
html .circle-green-br {
  border: 1px solid #D2FF57;
}
html .circle-white-br {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
html .circle-gray-br {
  border: 1px solid rgba(22, 26, 37, 0.2);
}
html .circle-90 {
  width: 90px;
  height: 90px;
}
html .circle-80 {
  width: 80px;
  height: 80px;
}
html .circle-60 {
  width: 60px;
  height: 60px;
}
html .ico-map {
  width: 28px;
  height: 40px;
  background: url("/img/icon/map.svg") no-repeat center;
  background-size: contain;
}
html .ico-phone {
  width: 32px;
  height: 32px;
  background: url("/img/icon/phone.svg") no-repeat center;
  background-size: contain;
}
html .underline {
  position: relative;
}
html .underline-pink:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(270deg, #FB71FF 0%, #F000FE 100%);
  transition: all 0.3s ease-in-out;
}
html .underline-pink:hover:after {
  width: 100%;
}
html .underline-green:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #90FE00 0%, #DAFE00 95.92%);
  transition: all 0.3s ease-in-out;
}
html .underline-green:hover:after {
  width: 100%;
}
html .separator {
  display: flex;
  flex-wrap: wrap;
}
html .separator .text {
  margin: auto 0 auto 50px;
}
html .separator .separator-line {
  height: 2px;
  width: 200px;
  margin: auto 0 auto 120px;
}
html .separator-pink .separator-line {
  background: linear-gradient(270deg, #FB71FF 0%, #F000FE 100%);
}
html .separator-green .separator-line {
  background: linear-gradient(270deg, #DAFE01 0%, #91FE01 100%);
}
html .schedule {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
html .schedule-item {
  display: flex;
  position: relative;
}
html .schedule-item .text {
  margin: 15px 0 auto -50px;
}
html .schedule-item .nubmer {
  font-weight: bold;
  font-size: 80px;
  line-height: normal;
  letter-spacing: 0.4em;
  background: -webkit-linear-gradient(-50deg, #ffffff 0, rgba(22, 26, 37, 0) 100%, rgba(22, 26, 37, 0.7) 0);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #161A25;
  opacity: 0.3;
  margin: 0;
}
html .arrow-after {
  position: relative;
  padding: 0 22px 0 0;
}
html .arrow-after-pink:after {
  content: "";
  width: 12px;
  height: 12px;
  background: url("/img/icon/link-arrow-p.svg") no-repeat center;
  background-size: auto;
  position: absolute;
  top: 6px;
  right: 0;
}
html .arrow-after-green:after {
  content: "";
  width: 12px;
  height: 12px;
  background: url("/img/icon/link-arrow-g.svg") no-repeat center;
  background-size: auto;
  position: absolute;
  top: 6px;
  right: 0;
}
html .right-menu {
  height: 100%;
  max-width: 60px;
  width: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50px;
  bottom: 70px;
  z-index: 1000;
}
html .right-menu .menu-item {
  margin: 0 auto 30px auto;
}
html .right-menu .sharing {
  margin: auto auto 0 auto;
  cursor: pointer;
}
html .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #FFFFFF;
  opacity: 0.2;
  margin: 0 24px 0 0;
  transition: all 0.3s ease-in-out;
}
html .swiper-pagination-bullet:hover {
  opacity: 0.5;
}
html .swiper-pagination-bullet-active {
  opacity: 1;
}
html .footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 155px 118px 0 50px;
  padding: 43px 0 53px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
html .footer-column {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto 0;
  justify-content: space-between;
}
html .footer-column .slide-contact {
  max-width: 100%;
  margin: 0 0 0 auto;
}
html .footer-column .slide-contact .link:first-child {
  margin: auto 50px auto 0;
}
html .footer .to-up {
  cursor: pointer;
}
html .footer .to-up .circle {
  transform: rotate(270deg);
}
html .footer .navbar {
  padding: 0;
}
html .portfolio-modal .modal-dialog {
  max-width: 100%;
  height: 100vh;
  margin: auto;
}
html .portfolio-modal .modal-dialog .modal-content {
  height: 100%;
  border: none;
  border-radius: 0;
  background: #161A25;
}
html .portfolio-modal .modal-dialog .modal-content .modal-body {
  padding: 90px 120px 86px 0;
}
html .portfolio-modal .modal-dialog .modal-content .modal-body .swiper-container {
  height: 100%;
  padding: 0 0 0 190px;
  margin: 0;
}
html .portfolio-modal .modal-dialog .modal-content .modal-body .swiper-slide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
html .portfolio-modal .modal-dialog .modal-content .modal-body .swiper-slide-active {
  opacity: 1;
}
html .portfolio-modal .modal-dialog .modal-content .modal-body .swiper-slide .column:first-child {
  width: 67%;
  margin: 0 30px 0 0;
}
html .portfolio-modal .modal-dialog .modal-content .modal-body .swiper-slide .column:first-child img {
  width: 100%;
  height: 100%;
}
html .portfolio-modal .modal-dialog .modal-content .modal-body .swiper-slide .column:last-child {
  width: 30%;
  padding: 33px 0 0 0;
  border-top: 3px solid #D2FF57;
}
html .portfolio-modal .modal-dialog .modal-content .modal-body .swiper-slide .column:last-child .title {
  margin: 0 0 20px 0;
}
html .portfolio-modal .modal-dialog .modal-content .modal-body .swiper-pagination {
  color: rgba(255, 255, 255, 0.3);
  top: auto;
  bottom: 0;
  left: 60px;
}
html .portfolio-modal .modal-dialog .modal-content .modal-body .swiper-pagination-current {
  color: #FFFFFF;
}
html .portfolio-modal .modal-dialog .modal-content .modal-body .swiper-pagination-total {
  color: rgba(255, 255, 255, 0.3);
}
html .portfolio-modal .modal-dialog .modal-content .modal-body .swiper-button-next {
  width: 80px;
  height: 80px;
  background: url("/img/icon/swiper-arrow.svg") no-repeat center;
  background-size: contain;
  transition: all 0.3s ease-in-out;
  margin: 0;
  top: 55px;
  left: 50px;
  right: auto;
  top: 35%;
}
html .portfolio-modal .modal-dialog .modal-content .modal-body .swiper-button-next:hover {
  background: url("/img/icon/swiper-arrow-hover-g.svg") no-repeat center;
  background-size: contain;
}
html .portfolio-modal .modal-dialog .modal-content .modal-body .swiper-button-next:focus {
  outline: none;
}
@media (max-width: 768px) {
  html .portfolio-modal .modal-dialog .modal-content .modal-body .swiper-button-next {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 768px) and (max-width: 767px) {
  html .portfolio-modal .modal-dialog .modal-content .modal-body .swiper-button-next {
    top: 0;
  }
}
html .portfolio-modal .modal-dialog .modal-content .modal-body .swiper-button-prev {
  width: 80px;
  height: 80px;
  background: url("/img/icon/swiper-arrow.svg") no-repeat center;
  background-size: contain;
  transition: all 0.3s ease-in-out;
  margin: 0;
  top: 55px;
  transform: rotate(180deg);
  top: 53%;
  left: 50px;
  right: auto;
}
html .portfolio-modal .modal-dialog .modal-content .modal-body .swiper-button-prev:hover {
  background: url("/img/icon/swiper-arrow-hover-g.svg") no-repeat center;
  background-size: contain;
}
html .portfolio-modal .modal-dialog .modal-content .modal-body .swiper-button-prev:focus {
  outline: none;
}
@media (max-width: 768px) {
  html .portfolio-modal .modal-dialog .modal-content .modal-body .swiper-button-prev {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 768px) and (max-width: 767px) {
  html .portfolio-modal .modal-dialog .modal-content .modal-body .swiper-button-prev {
    top: 0;
  }
}
html .portfolio-modal .modal-dialog .modal-content .modal-body .btn-modal {
  padding: 0;
  position: absolute;
  left: 50px;
  z-index: 10;
}

html .navbar {
  padding: 37px 118px 70px 55px;
}
@media (max-width: 1112px) {
  html .navbar {
    padding: 25px 15px;
  }
}
@media (max-width: 1112px) and (max-width: 768px) {
  html .navbar {
    justify-content: space-between;
  }
}
html .navbar-brand {
  display: flex;
  padding: 0;
}
html .navbar-brand img {
  margin: auto 0;
}
html .navbar-brand img:first-child {
  margin: auto 10px auto 0;
}
html .navbar-toggler {
  outline: none;
}
@media (max-width: 768px) {
  html .navbar-nav .nav-item {
    text-align: right;
    margin: 0 0 15px 0;
  }
}
html .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #161A25;
  padding: 0 15px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1112px) {
  html .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    line-height: normal;
    padding: 0 8px;
  }
}
@media (max-width: 1112px) and (max-width: 768px) {
  html .navbar-nav .nav-item .nav-link {
    padding: 0;
  }
}
html .navbar-nav .nav-item .nav-link:hover {
  opacity: 0.4;
}
html .navbar-nav .nav-item .nav-link:focus {
  outline: none;
}
html .navbar-nav .nav-item .dropdown-toggle:after {
  content: "";
  border: none;
  width: 12px;
  height: 6px;
  background: url("/img/icon/toggle.svg") no-repeat center;
  background-size: contain;
  position: absolute;
  top: calc(50% - 3px);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  html .navbar-nav .nav-item .dropdown-toggle:after {
    top: 6px;
  }
}
html .navbar-nav .nav-item.show .dropdown-toggle:after {
  transform: rotate(180deg);
}
html .navbar-nav .nav-item.dropdown .nav-link {
  padding: 0 30px 0 15px;
}
@media (max-width: 1112px) {
  html .navbar-nav .nav-item.dropdown .nav-link {
    padding: 0 20px 0 8px;
  }
}
@media (max-width: 1112px) and (max-width: 768px) {
  html .navbar-nav .nav-item.dropdown .nav-link {
    padding: 0 15px 0 0;
  }
}
html .navbar-nav:last-child {
  border-left: 1px solid #161A25;
  margin: 0 0 0 35px;
  padding: 0 0 0 50px;
}
@media (max-width: 1112px) {
  html .navbar-nav:last-child {
    margin: 0 0 0 15px;
    padding: 0 0 0 20px;
  }
}
@media (max-width: 1112px) and (max-width: 768px) {
  html .navbar-nav:last-child {
    border-left: none;
  }
}
html .navbar-nav:last-child .nav-item .nav-link {
  padding: 0;
  font-weight: 700;
}
html .navbar-nav .dropdown-menu {
  background: transparent;
  border: none;
}
@media (max-width: 768px) {
  html .navbar-nav .dropdown li {
    text-align: right;
  }
}
html .navbar-nav .dropdown-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 220%;
  color: #161A25;
  padding: 0.25rem 1rem;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  html .navbar-nav .dropdown-item {
    padding: 0;
  }
}
html .navbar-nav .dropdown-item:hover {
  background: transparent;
  opacity: 0.4;
}
html .navbar-white .navbar-nav .nav-item .nav-link {
  color: white;
}
html .navbar-white .navbar-nav .nav-item .dropdown-toggle:after {
  content: "";
  background: url("/img/icon/toggle-w.svg") no-repeat center;
  background-size: contain;
}
html .navbar-white .navbar-nav:last-child {
  border-left: 1px solid white;
}
html .navbar-white .navbar-nav:last-child .nav-item .nav-link {
  padding: 0;
  font-weight: 700;
}
html .navbar-white .navbar-nav .dropdown-item {
  color: white;
}
html .page-item.item_2 h4 {
  max-width: 55%;
  margin: 25px 0 40px 0;
}
html .page-item.item_3 h4 {
  max-width: 37%;
  margin: 25px 0 50px 0;
}
html .page-item.item_4 h1 {
  margin: 0 0 30px 0;
}
html .social {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: absolute;
  top: 55px;
  left: 55px;
  z-index: 10;
}
@media (max-width: 1112px) {
  html .social {
    left: 35px;
  }
}
@media (max-width: 1112px) and (max-width: 767px) {
  html .social {
    position: static;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 15px;
  }
}
html .social-item {
  margin: 0 auto 20px 0;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(22, 26, 37, 0.2);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  html .social-item {
    width: 40px;
    height: 40px;
    margin: 0 20px 10px 0;
  }
}
html .social-item a {
  display: flex;
  height: 100%;
  width: 100%;
}
html .social-item .icon {
  margin: auto;
}
html .social-item .icon.inst {
  width: 20px;
  height: 20px;
  background: url("/img/icon/inst.svg") no-repeat center;
  background-size: contain;
}
html .social-item .icon.vk {
  width: 20px;
  height: 12px;
  background: url("/img/icon/vk.svg") no-repeat center;
  background-size: contain;
}
html .social-item .icon.fb {
  width: 20px;
  height: 20px;
  background: url("/img/icon/fb.svg") no-repeat center;
  background-size: contain;
}
html .social-item:hover {
  background: #1D222B;
}
html .social-item:hover .icon.inst {
  width: 20px;
  height: 20px;
  background: url("/img/icon/inst-active.svg") no-repeat center;
  background-size: contain;
}
html .social-item:hover .icon.vk {
  width: 20px;
  height: 12px;
  background: url("/img/icon/vk-active.svg") no-repeat center;
  background-size: contain;
}
html .social-item:hover .icon.fb {
  width: 20px;
  height: 20px;
  background: url("/img/icon/fb-active.svg") no-repeat center;
  background-size: contain;
}
html .social-item:last-child {
  margin: 0 auto 0 0;
}
html .swiper-container {
  margin: 0 0 0 190px;
  padding: 55px 0 0 0;
  overflow-y: inherit;
  overflow-x: hidden;
  height: 78vh;
}
@media (max-width: 1112px) {
  html .swiper-container {
    margin: 0 0 0 110px;
  }
}
@media (max-width: 1112px) and (max-width: 768px) {
  html .swiper-container {
    height: auto;
  }
}
@media (max-width: 1112px) and (max-width: 768px) and (max-width: 767px) {
  html .swiper-container {
    margin: 0 0 0 15px;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}
html .swiper-pagination {
  top: 0;
  left: 20px;
  bottom: auto;
  width: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: rgba(22, 26, 37, 0.3);
}
@media (max-width: 767px) {
  html .swiper-pagination {
    top: 10px;
  }
}
html .swiper-pagination-current {
  color: #161A25;
}
html .swiper-pagination-total {
  color: rgba(22, 26, 37, 0.3);
}
html .swiper-button-next {
  width: 80px;
  height: 80px;
  background: url("/img/icon/swiper-arrow.svg") no-repeat center;
  background-size: contain;
  transition: all 0.3s ease-in-out;
  margin: 0;
  top: 55px;
  right: 118px;
}
html .swiper-button-next:hover {
  background: url("/img/icon/swiper-arrow-hover.svg") no-repeat center;
  background-size: contain;
}
html .swiper-button-next:focus {
  outline: none;
}
@media (max-width: 768px) {
  html .swiper-button-next {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 768px) and (max-width: 767px) {
  html .swiper-button-next {
    top: 0;
  }
}
@media (max-width: 1112px) {
  html .swiper-button-next {
    right: 15px;
  }
}
html .swiper-button-prev {
  width: 80px;
  height: 80px;
  background: url("/img/icon/swiper-arrow.svg") no-repeat center;
  background-size: contain;
  transition: all 0.3s ease-in-out;
  margin: 0;
  top: 55px;
  transform: rotate(180deg);
  left: auto;
  right: 248px;
}
html .swiper-button-prev:hover {
  background: url("/img/icon/swiper-arrow-hover.svg") no-repeat center;
  background-size: contain;
}
html .swiper-button-prev:focus {
  outline: none;
}
@media (max-width: 768px) {
  html .swiper-button-prev {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 768px) and (max-width: 767px) {
  html .swiper-button-prev {
    top: 0;
  }
}
@media (max-width: 1112px) {
  html .swiper-button-prev {
    right: 115px;
  }
}
html .slide-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
@media (max-width: 767px) {
  html .slide-menu {
    flex-direction: column;
  }
}
html .slide-menu-item {
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;
  margin: 0 50px auto 0;
}
@media (max-width: 768px) {
  html .slide-menu-item {
    margin: 0 15px auto 0;
  }
}
html .slide-menu-item svg {
  margin: auto;
  max-width: 100%;
  height: auto;
}
html .slide-menu-item .text {
  font-weight: 900;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #161A25;
  margin: -10px 0 0 30px;
}
html .slide-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 55%;
  margin: auto 0 45px 0;
}
@media (max-width: 1112px) {
  html .slide-contact {
    max-width: 85%;
  }
}
@media (max-width: 1112px) and (max-width: 768px) {
  html .slide-contact {
    max-width: 100%;
    margin: 45px 15px 45px 0;
  }
}
html .slide-counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
html .slide-counter-item {
  margin: 0 50px 0 0;
}
html .slide-counter-item .nubmer {
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #161A25;
  padding: 10px 15px;
  border-radius: 20px 20px 20px 0;
}
html .slide-counter-item .text {
  font-weight: 900;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #161A25;
  margin: 20px 0 0 0;
  display: block;
}
html .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #161A25;
  display: inline-flex;
  margin: auto 0 auto 0;
}
html .link-w {
  color: #FFFFFF;
}
html .link-w .wa {
  filter: invert(100%);
  opacity: 0.5;
}
html .link-w .tg {
  filter: invert(100%);
  opacity: 0.5;
}
html .link-w.link-phone:before {
  background: white;
}
@media (max-width: 767px) {
  html .link {
    margin: auto 0 15px 0;
  }
}
html .link .wa {
  width: 17px;
  height: 17px;
  background: url("/img/icon/whatsapp.svg") no-repeat center;
  background-size: contain;
}
html .link .tg {
  width: 17px;
  height: 17px;
  background: url("/img/icon/telegram.svg") no-repeat center;
  background-size: contain;
}
html .link:hover {
  text-decoration: none;
}
html .link-page {
  padding: 9px 18px 9px 15px;
  background: #161A25;
  border: 1px solid #161A25;
  border-radius: 17px;
  color: white;
  transition: all 0.3s ease-in-out;
}
html .link-page .pointer {
  margin: auto 10px auto 0;
  width: 15px;
  height: 15px;
  background: url("/img/icon/pointer-w.svg") no-repeat center;
  background-size: contain;
  transition: all 0.3s ease-in-out;
}
html .link-page:hover {
  background: transparent;
  color: #161A25;
}
html .link-page:hover .pointer {
  background: url("/img/icon/pointer-b.svg") no-repeat center;
  background-size: contain;
}
html .link-phone {
  position: relative;
}
html .link-phone:before {
  content: "";
  height: 120%;
  width: 1px;
  background: black;
  position: absolute;
  top: -5%;
  left: -10%;
}
html .link-phone i {
  margin: auto 4px;
}
html .link-phone i:last-child {
  margin: auto 10px auto 4px;
}
html .contact-block {
  display: flex;
  flex-direction: column;
}
html .contact-block-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto 30px 0;
}
html .contact-block-item .text {
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
  color: #161A25;
  margin: auto 0 auto 20px;
}
html .page-content-services h2 {
  max-width: 55%;
  margin: 40px 0 130px 210px;
}
html .page-content-services .right-menu {
  max-height: 50vh;
  top: 35%;
}
html .page-content-services .underline {
  margin: 100px 0 0 210px;
}
html .page-content-services .swiper-container {
  margin: 70px 0 40px 0;
  padding: 0;
  overflow: inherit;
  width: 100%;
  height: 100%;
  position: relative;
}
html .page-content-services .swiper-wrapper {
  margin: 0 0 0 210px;
}
html .page-content-services .swiper-slide img {
  max-width: 100%;
  width: 100%;
  max-height: 275px;
  height: 100%;
}
html .page-content-services .swiper-pagination {
  position: absolute;
  z-index: 10;
  top: auto;
  bottom: 0;
  left: 210px;
  width: auto;
}
html .page-content-services .swiper-button-next {
  width: 80px;
  height: 80px;
  background: url("/img/icon/swiper-arrow.svg") no-repeat center;
  background-size: contain;
  transition: all 0.3s ease-in-out;
  margin: 0;
  top: 55px;
  top: auto;
  bottom: -40px;
  right: 118px;
}
html .page-content-services .swiper-button-next:hover {
  background: url("/img/icon/swiper-arrow-hover-g.svg") no-repeat center;
  background-size: contain;
}
html .page-content-services .swiper-button-next:focus {
  outline: none;
}
@media (max-width: 768px) {
  html .page-content-services .swiper-button-next {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 768px) and (max-width: 767px) {
  html .page-content-services .swiper-button-next {
    top: 0;
  }
}
@media (max-width: 1112px) {
  html .page-content-services .swiper-button-next {
    right: 15px;
  }
}
@media (max-width: 1112px) and (max-width: 768px) {
  html .page-content-services .swiper-button-next {
    bottom: -30px;
  }
}
html .page-content-services .swiper-button-prev {
  width: 80px;
  height: 80px;
  background: url("/img/icon/swiper-arrow.svg") no-repeat center;
  background-size: contain;
  transition: all 0.3s ease-in-out;
  margin: 0;
  top: 55px;
  transform: rotate(180deg);
  top: auto;
  bottom: -40px;
  left: auto;
  right: 248px;
}
html .page-content-services .swiper-button-prev:hover {
  background: url("/img/icon/swiper-arrow-hover-g.svg") no-repeat center;
  background-size: contain;
}
html .page-content-services .swiper-button-prev:focus {
  outline: none;
}
@media (max-width: 768px) {
  html .page-content-services .swiper-button-prev {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 768px) and (max-width: 767px) {
  html .page-content-services .swiper-button-prev {
    top: 0;
  }
}
@media (max-width: 1112px) {
  html .page-content-services .swiper-button-prev {
    right: 115px;
  }
}
@media (max-width: 1112px) and (max-width: 768px) {
  html .page-content-services .swiper-button-prev {
    bottom: -30px;
  }
}

/*# sourceMappingURL=style.css.map */
