@import "global";


html {
  .navbar {
    padding: 37px 118px 70px 55px;
    @include _1170 {
      padding: 15px;
      @include _991 {
        justify-content: space-between;
      }
    }

    &-brand {
      display: flex;
      padding: 0;
      position: relative;
      cursor: pointer;

      img,
      svg {
        margin: auto 0;

        &:first-child {
          margin: auto 10px auto 0;
        }
      }

    }

    &-toggler {
      outline: none;
    }

    &-nav {
      .nav-item {
        position: relative;

        @include _991 {
          text-align: right;
          margin: 0 0 15px 0;
        }

        .nav-link {
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: $color-black;
          margin: 0 15px 5px 15px;
          padding: 0;
          transition: all .3s ease-in-out;
          position: relative;
          @include _1170 {
            font-size: 16px;
            line-height: normal;
            padding: 0 8px 3px 8px;
            @include _991 {
              padding: 0;
            }
          }

          &:focus {
            outline: none;
          }

          &:before {
            content: '';
            width: 0;
            height: 1px;
            background: $color-black;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: width .2s ease-in-out;
          }
        }

        &:hover {
          .nav-link {
            &:before {
              opacity: 1;
              width: 100%;
            }
          }
        }

        .dropdown-toggle {
          &:after {
            content: '';
            border: none;
            width: 12px;
            height: 6px;
            background: url("/img/icon/toggle.svg") no-repeat center;
            background-size: contain;
            position: absolute;
            top: calc(50% - 3px);
            transition: all .3s ease-in-out;
            @include _991 {
              top: 6px;
            }
          }
        }

        &.show {
          .dropdown-toggle {
            &:after {
              transform: rotate(180deg);
            }
          }
        }

        &.dropdown {
          .nav-link {
            padding: 0 15px 0 0;
            margin: 0 15px 5px 0;
            @include _1170 {
              padding: 0 15px 0 0;
              @include _991 {
                padding: 0 15px 0 0;
              }
            }
          }

        }
      }

      &:first-child {
        .nav-item {
          &:last-child {
            border-left: 1px solid $color-black;
            border-right: 1px solid $color-black;
          }

          .nav-link {
            margin: 0 30px;
          }
        }
      }

      &:last-child {
        //border-left: 1px solid $color-black;
        margin: 0 0 0 35px;
        //padding: 0 0 0 50px;
        @include _1170 {
          margin: 0 0 0 15px;
          //padding: 0 0 0 20px;
          @include _991 {
            border-left: none;
          }
        }

        .nav-item {

          .nav-link {
            padding: 0;
            font-weight: 700;
          }
        }

      }

      .dropdown {
        &-menu {
          border: none;
          background: linear-gradient(190.79deg, rgba(255, 255, 255, 0.1) 1.19%, rgba(255, 255, 255, 0) 75.31%), #141925;
          border-radius: 0 45px 45px 45px;
          padding: 30px 35px 32px 30px;
          margin: 10px 0 0 15px;
          @include _991 {
            padding: 15px;
            margin: 15px 0 0 auto;
            border-radius: 30px 0 30px 30px;
            max-width: 50%;
            @include _600 {
              max-width: 60%;
              @include _480 {
                max-width: 100%;
              }
            }
          }

          li {
            &:last-child {
              a {
                margin: 0;
              }
            }
          }
        }

        @include _991 {
          li {
            text-align: right;
          }
        }

        &-item {
          font-weight: 900;
          font-size: 10px;
          line-height: 180%;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: $color-white;
          padding: 0;
          margin: 0 0 15px 0;
          transition: all .3s ease-in-out;

          span {
            margin: 0 0 0 10px;
            opacity: 0.3;
            transition: all .3s ease-in-out;
          }

          &:hover {
            background: transparent;

            span {
              opacity: 1;
            }
          }

          @include _991 {
            padding: 0;
            span {
              opacity: 1;
            }
            @include _600 {
              svg {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .bg-black {
    .navbar {
      &-toggler {
        filter: invert(100%);
      }

      &-nav {
        .nav-item {
          &:before {
            background: $color-white;
          }

          .nav-link {
            color: $color-white;

            &:before {
              background: $color-white;
            }
          }

          .dropdown-toggle {
            &:after {
              content: '';
              background: url("/img/icon/toggle-w.svg") no-repeat center;
              background-size: contain;
            }
          }
        }

        &:first-child {
          .nav-item {
            &:last-child {
              border-left: 1px solid $color-white;
              border-right: 1px solid $color-white;
            }
          }
        }

        &:last-child {
          //border-left: 1px solid white;
          @include _991 {
            border-left: none;
          }

          .nav-item {

            .nav-link {
              padding: 0;
              font-weight: 700;
            }
          }
        }

        .dropdown {

          &-item {
            color: white;
          }
        }
      }
    }
  }

  .page-item {
    &.item_2 {
      h4 {
        font-family: 'Gilroy', sans-serif;
        max-width: 55%;
        margin: 25px 0 40px 0;
        @include _1024 {
          margin: auto 0;
          max-width: 100%;
        }
      }
    }

    &.item_3 {
      h4 {
        font-family: 'Gilroy', sans-serif;
        max-width: 40%;
        margin: 25px 0;
        @include _1024 {
          margin: auto 0;
          max-width: 100%;
        }
      }
    }

    &.item_4 {
      h1 {
        margin: 0 0 30px 0;
      }

      @include _1024 {
        .slide-contact-block {
          margin: auto 0;
        }
      }
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: absolute;

    top: 55px;
    left: 55px;
    z-index: 10;
    @include _1170 {
      left: 35px;
      @include _767 {
        position: static;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0 15px;
      }
    }

    &-item {
      margin: 0 auto 20px 0;
      display: flex;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: transparent;
      border: 1px solid rgba(22, 26, 37, 0.2);
      transition: all .3s ease-in-out;
      @include _767 {
        width: 40px;
        height: 40px;
        margin: 0 10px 10px 0;
      }

      a {
        display: flex;
        height: 100%;
        width: 100%;
      }

      .icon {
        margin: auto;

        &.inst {
          width: 20px;
          height: 20px;
          background: url("/img/icon/inst.svg") no-repeat center;
          background-size: contain;
        }

        &.vk {
          width: 20px;
          height: 12px;
          background: url("/img/icon/vk.svg") no-repeat center;
          background-size: contain;
        }

        &.fb {
          width: 20px;
          height: 20px;
          background: url("/img/icon/fb.svg") no-repeat center;
          background-size: contain;
        }
      }

      &:hover {
        background: #1D222B;

        .icon {
          &.inst {
            width: 20px;
            height: 20px;
            background: url("/img/icon/inst-active.svg") no-repeat center;
            background-size: contain;
          }

          &.vk {
            width: 20px;
            height: 12px;
            background: url("/img/icon/vk-active.svg") no-repeat center;
            background-size: contain;
          }

          &.fb {
            width: 20px;
            height: 20px;
            background: url("/img/icon/fb-active.svg") no-repeat center;
            background-size: contain;
          }
        }
      }

      &:last-child {
        margin: 0 auto 0 0;
      }

      &-white {
        border: 1px solid rgba(255, 255, 255, 0.2);

        .icon {

          &.inst {
            width: 20px;
            height: 20px;
            background: url("/img/icon/inst-active.svg") no-repeat center;
            background-size: contain;
          }

          &.vk {
            width: 20px;
            height: 12px;
            background: url("/img/icon/vk-active.svg") no-repeat center;
            background-size: contain;
          }

          &.fb {
            width: 20px;
            height: 20px;
            background: url("/img/icon/fb-active.svg") no-repeat center;
            background-size: contain;
          }
        }
      }
    }
  }

  .swiper {
    &-container {
      margin: 0 0 0 190px;
      padding: 55px 0 0 0;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 78vh;
      @include _1170 {
        margin: 0 0 0 110px;
        @include _991 {
          height: 100%;
          margin: 0 0 0 15px;
          @include _600 {
            padding: 100px 0 0 0;
          }
        }
      }
    }

    &-pagination {
      top: 0;
      left: 20px;
      bottom: auto;
      width: auto;

      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: rgba(22, 26, 37, 0.3);

      @include _767 {
        left: 0;
        top: 10px;
      }

      &-current {
        color: $color-black;
      }

      &-total {
        color: rgba(22, 26, 37, 0.3);
      }
    }

    &-button-next {
      @include arrow;
      right: 118px;
      @include _1170 {
        right: 15px;
      }
    }

    &-button-prev {
      @include arrow;
      transform: rotate(180deg);
      left: auto;
      right: 248px;
      @include _1170 {
        right: 115px;
        @include _600 {
          right: 85px;
        }
      }
    }
  }

  .slide {
    &-menu {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      @include _767 {
        flex-direction: row;
      }

      &-item {
        display: flex;
        flex-direction: column;
        position: relative;
        text-decoration: none;
        margin: 0 50px auto 0;
        cursor: pointer;
        @include _991 {
          margin: 0 15px auto 0;
          .circle {
            width: 60px;
            height: 60px;
          }
        }

        svg {
          margin: auto;
          max-width: 100%;
          height: auto;
        }

        .text {
          font-weight: 900;
          font-size: 10px;
          line-height: 150%;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: $color-black;
          margin: -10px 0 0 30px;
          @include _767 {
            margin: -10px 0 0 0;
          }
        }
      }
    }

    &-contact {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 50%;
      margin: auto 0 45px 0;
      @include _1170 {
        max-width: 75%;
        @include _1024 {
          margin: auto 15px 0 0;
          @include _991 {
            justify-content: space-around;
            @include _767 {
              max-width: 100%;
            }
          }
        }
      }
    }

    &-counter {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      @include _767 {
        justify-content: space-around;
        margin: 50px 0;
      }

      &-item {
        margin: 0 50px 0 0;
        @include _991 {
          margin: 0 25px 0 0;
          @include _767 {
            margin: 0 0 20px 0;
            width: 50%;
          }
        }

        .nubmer {
          font-weight: bold;
          font-size: 24px;
          line-height: 20px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #FFFFFF;

          background: $color-black;
          padding: 10px 15px;
          border-radius: 20px 20px 20px 0;
          @include _991 {
            font-size: 20px;
            line-height: normal;
            padding: 5px;
          }
        }

        .text {
          font-weight: 900;
          font-size: 10px;
          line-height: 150%;
          letter-spacing: 0.2em;
          text-transform: uppercase;

          color: $color-black;
          margin: 20px 0 0 0;
          display: block;
        }
      }
    }
  }

  .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $color-black;
    display: inline-flex;
    margin: auto 0 auto 0;


    &-w {
      color: $color-white;

      .wa {
        filter: invert(100%);
        opacity: 0.5;
      }

      .tg {
        filter: invert(100%);
        opacity: 0.5;
      }

      &.link-phone {
        &:before {
          background: white;
        }

      }
    }

    @include _991 {
      margin: 15px;
      width: 40%;
      font-weight: bold;
      @include _767 {
        width: auto;
        @include _600 {
          margin: auto 0 15px 0;
        }
      }
    }

    .wa {
      width: 17px;
      height: 17px;
      background: url("/img/icon/whatsapp.svg") no-repeat center;
      background-size: contain;
    }

    .tg {
      width: 17px;
      height: 17px;
      background: url("/img/icon/telegram.svg") no-repeat center;
      background-size: contain;
    }

    &:hover {
      text-decoration: none;
    }

    &-page {
      padding: 9px 18px 9px 15px;
      background: $color-black;
      border: 1px solid $color-black;
      border-radius: 17px;
      color: white;
      cursor: pointer;

      transition: all .3s ease-in-out;

      .pointer {
        margin: auto 10px auto 0;
        width: 15px;
        height: 15px;
        background: url("/img/icon/pointer-w.svg") no-repeat center;
        background-size: contain;

        transition: all .3s ease-in-out;
      }

      &:hover {
        background: transparent;
        color: $color-black;

        .pointer {
          background: url("/img/icon/pointer-b.svg") no-repeat center;
          background-size: contain;
        }
      }
    }

    &-mail {

    }

    &-phone {
      position: relative;

      &:before {
        content: '';
        height: 120%;
        width: 1px;
        background: black;
        position: absolute;
        top: -5%;
        left: -10%;
      }

      i {
        margin: auto 4px;

        &:last-child {
          margin: auto 10px auto 4px;
        }
      }

    }
  }

  .contact-block {
    display: flex;
    flex-direction: column;

    &-item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: 0 auto 30px 0;
      @include _600 {
        flex-direction: column;
      }

      .text {
        font-weight: 500;
        font-size: 24px;
        line-height: 44px;
        color: #161A25;
        margin: auto 0 auto 20px;
        @include _600 {
          margin: auto 0;
          font-weight: bolder;
        }
      }
    }
  }

  .page-content {

    .right-menu {
      max-height: 65vh;
      top: 23%;
      @include _1170 {
        top: 155px;
        @include _600 {
          max-height: 75%;
        }
      }

      .social {
        left: 0;
        top: 50%;

        &-wrap {
          margin: auto auto 0 auto;
        }

        &-item {
          cursor: pointer;
          display: flex;
          width: 40px;
          height: 40px;
          margin: 0 auto 10px auto;
        }
      }

      &--season {
        max-height: 63vh;
        position: fixed;
        top: 23%;
        @include _991 {
          max-height: 100%;
          @include _600 {
            max-height: 75%;
            @include _480 {
              top: 20vh;
            }
          }
        }

        .social {
          left: 0;
          top: -10%;
          position: relative;
          @include _767 {
            flex-direction: column;
            padding: 0;
            @include _480 {
              top: 0;
            }
          }
        }
      }
    }

    &-services {
      //background:  url("/img/services-bg.png") no-repeat right;
      //background-size: cover;

      h2 {
        max-width: 55%;
        margin: 40px 0 130px 210px;
        @include _1170 {
          margin: 40px 15px 80px 120px;
          @include _767 {
            max-width: 100%;
            margin: 40px 15px 80px 90px;
          }
        }
      }


      .underline {
        margin: 0 0 0 210px;
        @include _1170 {
          margin: 0 0 0 120px;
          @include _767 {
            margin: 0 0 0 90px;
            width: 100%;
            .text {
              font-size: 18px;
              @include _600 {
                font-size: 12px;
                color: #ffffff;
              }
            }
          }
        }
      }


      .swiper {
        &-container {
          margin: 70px 0 40px 0;
          padding: 0;
          overflow: inherit;
          width: 100%;
          height: 100%;
          position: relative;
        }

        &-wrapper {
          margin: 0 0 0 210px;
          @include _1170 {
            margin: 0 0 0 120px;
            @include _767 {
              margin: 0 0 0 90px;
              @include _600 {
                margin: 0;
              }
            }
          }
        }

        &-slide {

          img {
            max-width: 100%;
            width: 100%;
            max-height: 275px;
            height: 100%;
          }
        }

        &-pagination {
          position: absolute;
          z-index: 10;
          top: auto;
          bottom: 0;
          left: 210px;
          width: auto;
          @include _1170 {
            left: 120px;
            @include _767 {
              left: 90px;
              @include _600 {
                bottom: -40px;
              }
            }
          }
        }

        &-button-next {
          @include arrow_green;
          top: auto;
          bottom: -40px;
          right: 118px;
          @include _1170 {
            right: 15px;
            top: auto;
            @include _991 {
              bottom: -30px;
              top: auto;
              @include _600 {
                bottom: -75px;
                @include _480 {
                  display: none;
                }
              }
            }
          }
        }

        &-button-prev {
          @include arrow_green;
          transform: rotate(180deg);
          top: auto;
          bottom: -40px;
          left: auto;
          right: 248px;
          @include _1170 {
            right: 115px;
            top: auto;
            @include _991 {
              top: auto;
              bottom: -30px;
              @include _600 {
                bottom: -75px;
                @include _480 {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}